.black {
  color: black
}
.red
{
    color: red
}


body
{
    margin: 5px
}

.listDisplay
{
    transition: opacity 1s ease-in;
    
    &.initial
    {
        opacity: 0; 
        
    }
    &.final
    {
        opacity: 1;
    }
    
    
}
